title: "Joatham Pérez Expósito"
description: "Blog personal y docente de Joatham Pérez Expósito"
markdown: kramdown

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      permalink: /blog/:year/:month/:day/:title/
