:root {
  --text: #1f2328;
  --bg: #ffffff;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);

  /* Muy parecido a GitHub README */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               "Helvetica Neue", Arial, system-ui, sans-serif;

  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}
