<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }} · {{ site.title }}</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ '/assets/images/icons/logo-web-nar-ap.ico' | relative_url }}" sizes="any">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6WGEVH61S0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6WGEVH61S0');
  </script>
</head>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="jpexposito" data-description="Apoya la web y los recursos docentes" 
  data-color="#1688c6" data-position="Right" data-x_margin="18" data-y_margin="18">
</script>

<body class="{% if page.url contains '/blog/' %}blog{% endif %} {% if page.url contains '/proyectos/' %}projects{% endif %}">

  <header class="hero">
    <div class="hero__inner">
      <a class="hero__brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

      <img class="hero__banner" src="{{ '/assets/images/fondo-github.png' | relative_url }}"
        alt="Repositorio @jpexposito">

      <p class="hero__tagline">Docencia • Desarrollo • Recursos</p>

      {% include nav.html %}

    </div>
  </header>


  <main class="container">
    {{ content }}
  </main>

  <footer class="footer">
    <div class="container">
      <small>© {{ site.title }} — Docencia y desarrollo</small>
    </div>
  </footer>
</body>

</html>