<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }} · {{ site.title }}</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ '/assets/images/icons/logo-web-nar-ap.ico' | relative_url }}" sizes="any">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
</head>

<body>
  <header class="hero">
  <div class="hero__inner">
    <a class="hero__brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <img align="center" src="assets/images/fondo-github.png" alt="Repositorio @jpexposito">

    <p class="hero__tagline">Docencia • Desarrollo • Recursos</p>

    <nav class="nav">
      <a class="nav__link" href="{{ '' | relative_url }}">Home</a>
      <a class="nav__link" href="{{ '/code-learn/' | relative_url }}">Code & Learn</a>
      <a class="nav__link" href="{{ '/code-learn/' | relative_url }}">Code & Learn & Practice</a>
      <a class="nav__link" href="{{ '/proyectos/' | relative_url }}">Blog</a>
      <a class="nav__link" href="{{ '/proyectos/' | relative_url }}">Proyects</a>
    </nav>
  </div>
</header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="footer">
    <div class="container">
      <small>© {{ site.title }} — Docencia y desarrollo</small>
    </div>
  </footer>
</body>
</html>
